{% extends "hook/templates/index.html" %}

{% block header %}

    <header class="space">
        <h1>{{ config.title }}</h1>
        {% set linked_pages = section.pages | filter(attribute="extra.in_header") %}
        {% if config.extra.links or linked_pages %}
		<p> by <a class="h-card" href="https://nicbirney.com"> Nic Birney </a> </p>
        <nav class="header-links">
            {% for link in config.extra.links %}
            <a href="{{ link.href }}" rel="me">{{ link.title }}</a>
            {% endfor %}
            {% for page in linked_pages %}
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% endfor %}
        </nav>
        {% endif %}
    </header>

{% endblock %}